@{
ViewData["Title"] = "VTCA";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <h3>
                Xin chào, @ViewBag.Username
            </h3>
            <input type="button" class="btn btn-primary ml-auto" value="Đăng xuất"
                onclick="window.location.href = '/Home/Logout'">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <form action="/Home/Home" method="POST">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" onclick="start()" data-toggle="tab" href="#home">Soạn thư</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="send()" data-toggle="tab" href="#menu1">Đã gửi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="receiver()" data-toggle="tab" href="#menu2">Đã nhận</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="restore()" data-toggle="tab" href="#menu3">Thùng rác</a>
                    </li>
                </ul>
            </form>
        </div>

        <div class="col-9">
            <div class="tab-content">
                <div id="home" class="container tab-pane active"><br>
                    <form action="/Home/Home" method="POST">
                        <p>Người nhận</p>
                        <div class="form-group wrap-compose d-flex flex-wrap align-items-center">
                            <span></span>
                            <textarea id="receiver" name="receiver" placeholder="Nhập tên người nhận"
                                class="form-control js-formatInputName receiver"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tiêu đề</label>
                            <input type="text" class="form-control " name="title" placeholder="Nhập tiêu đề" required>
                        </div>
                        <div>
                            <label>Nội dung</label>
                            <br>
                            <textarea id="subject" class="form-control" name="content" placeholder="Nhập nội dung ..."
                                style="height:200px" required></textarea>
                        </div>
                        <button class="btn btn-primary" id="send">Gửi</button>
                    </form>
                </div>
                <div id="menu1" class="container tab-pane fade"><br>
                    <form action="/Home/Home" method="POST" id="hihi">
                        <ul class="list-group">
                            @if(ViewBag.ListMailSend != null)
                            {
                            @foreach (var item in ViewBag.ListMailSend)
                            {
                            @if (item.Remove == 1 || item.Remove == 3)
                            {}
                            else{
                            <a class="card-link"
                                onclick="detail('@item.Receiver.Username', '@item.Mail.Title', '@item.Mail.Content')"
                                data-toggle="modal" data-target="#detailmail" id="recivermail">
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 text-truncate">
                                                <b class="text-dark d-inline-block" id="re_name">Người nhận:
                                                    @item.Receiver.Username</b>
                                            </div>
                                            <div class="col-7 contentt">
                                                <div class="col-6 text-truncate"><b id="re_title">@item.Mail.Title</b>
                                                </div>
                                                <div class="col-6 text-truncate"><span id="re_contnent">-
                                                        @item.Mail.Content</span></div>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger"
                                                    onclick="window.location.href = '/Home/RemoveSender?Mail_id=@item.Mail_Id'">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </a>
                            }
                            }
                            }
                        </ul>
                    </form>
                </div>
                <div id="menu2" class="container tab-pane fade"><br>
                    <form action="/Home/Home" method="POST" id="haha">
                        <ul class="list-group">
                            @if(ViewBag.ListMailReceiver != null)
                            {
                            @foreach (var item in ViewBag.ListMailReceiver){
                            @if (item.Remove == 2 || item.Remove == 3)
                            {}
                            else{
                            <a class="card-link"
                                onclick="detail('@item.Sender.Username','@item.Mail.Title', '@item.Mail.Content')"
                                data-toggle="modal" data-target="#detailmail" id="sendmail">
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 text-truncate">
                                                <b class="text-dark">Người gửi: @item.Sender.Username</b>
                                            </div>
                                            <div class="col-7 contentt">
                                                <div class="col-6 text-truncate"><b>@item.Mail.Title</b></div>
                                                <div class="col-6 text-truncate"><span>- @item.Mail.Content</span></div>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger"
                                                    onclick="window.location.href = '/Home/RemoveReceiver?Mail_id=@item.Mail_Id'">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </a>
                            }
                            }
                            }
                        </ul>
                    </form>
                </div>
                <div id="menu3" class="container tab-pane fade"><br>
                    <form action="/Home/Home" method="POST" id="restore">
                        <ul class="list-group">
                            @if(ViewBag.ListMailinTrash != null)
                            {
                            @foreach (var item in ViewBag.ListMailinTrash){
                            @if (item.Remove == 1 || item.Remove == 3){
                            @if (item.Sender.Username == ViewBag.Username)
                            {
                            <a class="card-link"
                                onclick="detail('@item.Sender.Username','@item.Mail.Title', '@item.Mail.Content')"
                                data-toggle="modal" data-target="#detailmail" id="trash">
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 text-truncate">
                                                <b class="text-dark">@item.Receiver.Username</b>
                                            </div>
                                            <div class="col-7 contentt">
                                                <div class="col-6 text-truncate"><b>@item.Mail.Title</b></div>
                                                <div class="col-6 text-truncate"><span>- @item.Mail.Content</span></div>
                                            </div>
                                            <div class="col-1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </a>
                            }
                            else{}
                            }
                            @if (item.Remove == 2 || item.Remove == 3){
                            @if (item.Receiver.Username == ViewBag.Username)
                            {
                            <a class="card-link"
                                onclick="detail('@item.Sender.Username','@item.Mail.Title', '@item.Mail.Content')"
                                data-toggle="modal" data-target="#detailmail" id="trash2">
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 text-truncate">
                                                <b class="text-dark">@item.Sender.Username</b>
                                            </div>
                                            <div class="col-7 contentt">
                                                <div class="col-6 text-truncate"><b>@item.Mail.Title</b></div>
                                                <div class="col-6 text-truncate"><span>- @item.Mail.Content</span></div>
                                            </div>
                                            <div class="col-1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </a>
                            }
                            else{}
                            }
                            }
                            }
                        </ul>
                    </form>
                </div>
                <div id="maildetail">
                    <div>
                        <h3 id="title-detail"></h3>
                    </div>
                    <hr>
                    <div>
                        <h5 id="receiver-detail"></h5>
                    </div>
                    <hr>
                    <div>
                        <p id="content-detail"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>