@{
ViewData["Title"] = "VTCA";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <h3>
                Xin chào, @ViewBag.Username
            </h3>
            <input type="button" class="btn btn-primary ml-auto" value="Đăng xuất"
                onclick="window.location.href = '/Home/Logout'">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <form action="/Home/Home" method="POST">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">Soạn thư</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="send()" data-toggle="tab" href="#menu1">Đã gửi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="receiver()" data-toggle="tab" href="#menu2">Đã nhận
                            <span class="badge badge-primary badge-pill">14</span>
                        </a>
                    </li>
                </ul>
            </form>
        </div>

        <div class="col-9">
            <div class="tab-content">
                <div id="home" class="container tab-pane active"><br>
                    <form action="/Home/Home" method="POST">
                        <div class="form-group wrap-compose d-flex flex-wrap align-items-center">
                            <label>Người nhận</label>
                            <textarea id="receiver" name="receiver" placeholder="Nhập tên người nhận"
                                class="form-control js-formatInputName receiver"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tiêu đề</label>
                            <input type="text" class="form-control " name="title" placeholder="Nhập tiêu đề" required>
                        </div>
                        <div>
                            <label>Nội dung</label>
                            <br>
                            <textarea id="subject" class="form-control" name="content" placeholder="Nhập nội dung ..."
                                style="height:200px" required></textarea>
                        </div>
                        <button class="btn btn-primary" id="send">Gửi</button>
                    </form>
                </div>
                <div id="menu1" class="container tab-pane fade"><br>
                    <form action="/Home/Home" method="POST">
                        <div class="huhu">
                            <p>Người nhận</p>
                            <p>Tiêu đề</p>
                            <p>Nội dung</p>
                        </div>
                        <ul class="list-group" id="hihi">
                            @if(ViewBag.ListMailSend != null)
                            {
                            @foreach (var item in ViewBag.ListMailSend)
                            {
                            <a class="card-link"
                                onclick="detail('@item.Receiver.Username', '@item.Mail.Title', '@item.Mail.Content')"
                                data-toggle="modal" data-target="#detailmail" id="recivermail">
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 text-truncate">
                                                <b class="text-dark d-inline-block" id="re_name">Người
                                                    nhận:
                                                    @item.Receiver.Username</b>
                                            </div>
                                            <div class="col-7 contentt">
                                                <div class="col-6 text-truncate"><b id="re_title">@item.Mail.Title</b>
                                                </div>
                                                <div class="col-6 text-truncate"><span id="re_contnent">-
                                                        @item.Mail.Content</span></div>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger" onclick="window.location.href = '/Home/RemoveSender(@item.Mail_Id)'">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </a>
                            }
                            }
                        </ul>
                    </form> 
                </div>
                <div id="menu2" class="container tab-pane fade"><br>
                    <form action="/Home/Home" method="POST">
                        <ul class="list-group" id="haha">
                            @if(ViewBag.ListMailReceiver != null)
                            {
                            @foreach (var item in ViewBag.ListMailReceiver){
                            <a class="card-link"
                                onclick="detail('@item.Sender.Username','@item.Mail.Title', '@item.Mail.Content')"
                                data-toggle="modal" data-target="#detailmail" id="sendmail">
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4 text-truncate">
                                                <b class="text-dark">Người gửi: @item.Sender.Username</b>
                                            </div>
                                            <div class="col-7 contentt">
                                                <div class="col-6 text-truncate"><b>@item.Mail.Title</b></div>
                                                <div class="col-6 text-truncate"><span>- @item.Mail.Content</span></div>
                                            </div>
                                            <div class="col-1">
                                                <button class="btn btn-danger" onclick="window.location.href = '/Home/RemoveReceiver(@item.Mail_Id)'">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </a>
                            }
                            }
                        </ul>
                    </form>
                </div>
                <div id="maildetail">
                    <div>
                        <h3 id="title-detail"></h3>
                    </div>
                    <div>
                        <p id="receiver-detail"></p>
                    </div>
                    <div>
                        <p id="content-detail"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>